<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
        android:name="${applicationName}"
        android:label="FFTCG Companion"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:enableOnBackInvokedCallback="true">
        <!-- App Check Configuration -->
        <meta-data
        android:name="firebase_app_check_debug_token"
        android:value="053827d5-b30e-4de5-962f-d20af395002c"/>
        <!-- Only use officially supported Firebase configurations -->
        <meta-data
        android:name="firebase_performance_collection_enabled"
        android:value="true" />
        <meta-data
        android:name="firebase_performance_collection_deactivated"
        android:value="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- Add OAuth redirect scheme for Google Sign In -->
        <activity 
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:exported="false" />
        <!-- Add OAuth redirect for Google Sign In -->
        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInRedirectActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="com.mrw1986.fftcg_companion_app"
                    android:host="oauth2redirect"/>
            </intent-filter>
        </activity>
    </application>
</manifest>